<?xml version="1.0" encoding="utf-8"?>
<!--
  AndroidManifest.xml
  count off android.

  Copyright (c) 2015 Waync Cheng.
  All Rights Reserved.

  2015/6/15 Waync created
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="weilican.countoff" android:versionCode="6">
  <application android:label="@string/countoff_activity" android:icon="@drawable/icon">
    <activity android:name="CountoffActivity"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:launchMode="singleTask"
              android:configChanges="orientation|keyboardHidden"
              android:icon="@drawable/icon">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
  <uses-feature android:glEsVersion="0x00010001" android:required="true"/>
  <uses-sdk android:minSdkVersion="7"/>
</manifest>
